backup-data
data
data2
data3
old-data
adamkey.txt
example.txt
node_modules
yarn-error.log
cert.pem
key.pem
run.txt
datachannel.dll
libdatachannel.so
.vscode
bad-sfu-bridge
build-dir
.flatpak-builder
/.env
minio.exe
s3data
